* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0EBAE0;
}

main {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
  color: white;  
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    /* max-width: 800px; */
    margin: 0 auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    opacity: 0.8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.btn {
    padding: 1em 0.5em;
    border: none;
    background-color: #0EBAE0;
    margin: 2em 0;
    color: white;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 15px;
}

.center {
    display: block;
    margin-left: center;
    margin-right: center;
    width: 25px;
    height: 25px;
  }
  body{
      text-align: center;
  }
  img {
    display: fill;
    max-width: 50%;
    max-height: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    
  }
  div.container{
      text-align: center;
      padding: 10px 20px;
  }

  .hide {
      display: none;
  }

  .saved {
      margin-top: 3em;
  }
  button#generate {
    font-size: 13px;
    padding: 4px 10px 4px;
}
button#save-fact {

    font-size: 13px;
    padding: 4px 10px 4px;
}
ul.col {
    margin-left: auto;
}