* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0EBAE0;
}

main {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
  color: white;  
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    opacity: 0.8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 1em 0.5em;
    border: none;
    background-color: #0EBAE0;
    margin: 2em 0;
    color: white;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 15px;
}

  body{
      text-align: center;
  }
  img {
    display: fill;
    max-width: 50%;
    max-height: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 15px;
    
  }

  
  div.container{
      text-align: center;
  }

  .hide {
      display: none;
  }

  .saved {
      margin-top: 3em;
  }
  button#generate {
    font-size: 13px;
    padding: 4px 10px 4px;
}

button#generate:hover {
    box-shadow: 0 4px 47px 0 rgb(0 0 0 / 25%), 0 6px 20px 0 rgb(78, 142, 226, 0.19);
  }

button#save-fact {

    font-size: 13px;
    padding: 4px 10px 4px;
}
button#save-fact:hover {
    box-shadow: 0 4px 47px 0 rgb(0 0 0 / 25%), 0 6px 20px 0 rgba(78, 142, 226, 0.19);
  }
ul.col {
    margin-left: auto;
}

.save-noti {
    color: rgb(31, 192, 31)
}